<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link th:href ="@{resources/css/style.css}" rel="stylesheet" />
    <style>

    </style>
</head>

<body>
<div id="banner">
    <h1>Your Cart</h1>
</div>

<div id="navbar">
    <a href="servicecatalog.html">Service Katalog</a>
    <a href="#">Neuer Kunde</a>
    <a href="#">Neues Angebot</a>
    <a href="#">Neuer Auftrag</a>
    <a href="depot.html">Lager</a>
    <a href="resources.html">Ressourcen</a>
    <a href="management.html">Management</a>
    <a href="cart.html">Cart</a>
    <a href="#">Logout</a>
</div>

<div class="container">
    <h2>Services in Your Cart</h2>
    <table>
        <thead>
        <tr>
            <th>Service</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <!-- Add Services dynamically here -->
        <tr th:each="service, iterStat : ${services}">
            <td th:text="${service.name}"></td>
            <td th:text="${service.price}"></td>
        </tr>
        </tbody>
    </table>

    <div class="total">
        Total: <span th:text="${total}"></span>
    </div>

    <button class="button">Proceed to Checkout</button>
</div>
</body>

</html>
