<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Catalog</title>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .btn-group {
            margin: auto;
        }
    </style>
</head>
<body>
    <div id="banner">
        <h1>Kleinreparatur Service</h1>
    </div>

    <div th:insert="~{navigation :: nav}"></div>

    <div class="container">
        <div class="btn-group my-3" role="group">
            <a class="btn btn-primary" th:href="@{/catalog/flickschusterei}">Flickenschusterei</a>
            <a class="btn btn-primary" th:href="@{/catalog/naehservice}">Nähservice</a>
            <a class="btn btn-primary" th:href="@{/catalog/metallarbeiten}">Metallarbeiten</a>
            <a class="btn btn-primary" th:href="@{/catalog/textilservice}">Textilservice</a>
            <a class="btn btn-primary" th:href="@{/catalog/elektrowerkstatt}">Elektrowerkstatt</a>
            <a class="btn btn-primary" th:href="@{/catalog/schluesseldienst}">Schlüsseldienst</a>
        </div>
    </div>
    <div th:insert="~{footer :: footer}"></div>
</body>
</html>
