<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link th:href ="@{resources/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="banner">
        <h1>Kleinreparatur Service</h1>
    </div>

    <div th:insert="~{navigation :: nav}"></div>

    <div class="error">
        <h1>Es ist ein Fehler aufgetreten!</h1>
        <div class="error-details">
            <h2>Fehlercode:</h2>
            <p th:text="${status + ' ' + statusDescription}">[Error Code]</p>
            <h2>Fehlermeldung:</h2>
            <p th:text="${error}">[Error Message]</p>
            <h2>Nachricht:</h2>
            <p th:text="${message}">[Message]</p>
            <h2>Pfad:</h2>
            <p th:text="${path}">[Path]</p>
            <h2>Stacktrace:</h2>
            <pre th:text="${trace}">[Stacktrace]</pre>
        </div>
    </div>

    <div th:insert="~{footer :: footer}"></div>
</body>
</html>