<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Overview</title>
    <link th:href ="@{resources/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="banner">
        <h1>Kleinreparatur Service</h1>
    </div>

    <div th:insert="~{navigation :: nav}"></div>

    <div class="container">
        <form action="#" th:action="@{/finance}" method="post">
            <div class="column">
                <h2>Yearly Overview</h2>
                <select name="year">
                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                </select>
            </div>

            <div class="column">
                <h2>Monthly Overview</h2>
                <select name="month">
                    <option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
                </select>
            </div>

            <div class="column">
                <h2>Cost and Revenue</h2>
                <p>Hier stehen Informationen zu Kosten und Einnahmen.</p>
                <button type="submit" class="button">Detailed Data analytics</button>
            </div>
        </form>
    </div>

</body>
</html>
