<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Overview</title>
    <link th:href ="@{resources/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="banner">
        <h1>Kleinreparatur Service</h1>
    </div>

    <div id="navbar">
        <a href="servicecatalog.html">Service Katalog</a>
        <a href="#">Neuer Kunde</a>
        <a href="#">Neues Angebot</a>
        <a href="#">Neuer Auftrag</a>
        <a href="depot.html">Lager</a>
        <a href="resources.html">Ressourcen</a>
        <a href="management.html">Management</a>
        <a href="cart.html">Cart</a>
        <a href="#">Logout</a>
    </div>

    <div class="container">
        <form action="#" th:action="@{/finance}" method="post">
            <div class="column">
                <h2>Yearly Overview</h2>
                <select name="year">
                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                </select>
            </div>

            <div class="column">
                <h2>Monthly Overview</h2>
                <select name="month">
                    <option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
                </select>
            </div>

            <div class="column">
                <h2>Cost and Revenue</h2>
                <p>Hier stehen Informationen zu Kosten und Einnahmen.</p>
                <button type="submit" class="button">Detailed Data analytics</button>
            </div>
        </form>
    </div>
</body>
</html>
