<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Seite</title>
    <link th:href ="@{resources/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="banner">
        <h1>Kleinreparatur Service</h1>
    </div>
    <div th:insert="~{navigation :: nav}"></div>
    <div class="depot-container">


        <h2>Management</h2>
        <div class="btn-group my-3" role = "group">
        <a class="btn btn-primary" th:href="@{/customers/customerlist}" sec:authorize="hasAnyRole('MANAGEMENTLEAD', 'WORKER')">Kunden</a>
        <a class="btn btn-primary" th:href="@{/resources}" sec:authorize="hasRole('MANAGEMENTLEAD')">Ressourcen</a>
        <a class="btn btn-primary" th:href="@{/accountancy}" sec:authorize="hasRole('MANAGEMENTLEAD')">Finanzen</a>
        <a class="btn btn-primary" th:href="@{/usermainpage}" sec:authorize="hasRole('MANAGEMENTLEAD')">User Verwaltung</a>
        <a class="btn btn-primary" th:href="@{/coworkers}" sec:authorize="hasRole('MANAGEMENTLEAD')">Mitarbeiter</a>
        <a class="btn btn-primary" th:href="@{/orders}" sec:authorize="hasAnyRole('MANAGEMENTLEAD','WORKER')">Aufträge</a>
        <a class="btn btn-primary" th:href="@{/services}" sec:authorize="hasRole('MANAGEMENTLEAD')">Dienstleistungen</a>
    </div>
    </div>

</body>
</html>
