<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ressources</title>
    <link th:href ="@{resources/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="banner">
        <h1>Kleinreparatur Service</h1>
    </div>

    <div id="navbar">
        <a href="servicecatalog.html">Service Katalog</a>
        <a href="#">Neuer Kunde</a>
        <a href="#">Neues Angebot</a>
        <a href="#">Neuer Auftrag</a>
        <a href="depot.html">Lager</a>
        <a href="resources.html">Ressourcen</a>
        <a href="management.html">Management</a>
        <a href="cart.html">Cart</a>
        <a href="#">Logout</a>
    </div>
    
    <div class="container">
        <div class="column">
            <h2>Work Equipment</h2>
            <ul>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
            </ul>
        </div>

        <div class="column">
            <h2>Material</h2>
            <ul>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
            </ul>
        </div>

        <div class="column">
            <h2>Available Spaces to Work</h2>
            <ul>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
            </ul>
        </div>
    </div>
</body>
</html>
