<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ressources</title>
    <link th:href ="@{resources/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="banner">
        <h1>Kleinreparatur Service</h1>
    </div>
    
    <div id="navbar">
        <a href="#">Service catalog</a>
        <a href="#">New Offers</a>
        <a href="#">New Orders</a>
        <a href="depot.html">Depot</a>
        <a href="ressources.html">Ressources</a>
        <a href="#">New Customer</a>
        <a href="managment.html">Managment</a>
        <a href="cart.html">Cart</a>
        <a href="#">Logout</a>
    </div>
    
    <div class="container">
        <div class="column">
            <h2>Work Equipment</h2>
            <ul>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
                <li><input type="checkbox" id="Name Of The Work Equipment"><label for="Name Of The Work Equipment">Name Of The Work Equipment</label></li>
            </ul>
        </div>

        <div class="column">
            <h2>Material</h2>
            <ul>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
                <li><input type="checkbox" id="Name Of The Material"><label for="Name Of The Material">Name Of The Material</label></li>
            </ul>
        </div>

        <div class="column">
            <h2>Available Spaces to Work</h2>
            <ul>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
                <li><input type="checkbox" id="Name Of The Spaces"><label for="Name Of The Spaces">Name Of The Spaces</label></li>
            </ul>
        </div>
    </div>
</body>
</html>
