<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link th:href ="@{resources/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="banner">
        <h1>Kleinreparatur Service</h1>
    </div>

    <div id="navbar">
        <a href="#">Service catalog</a>
        <a href="#">New Offers</a>
        <a href="#">New Orders</a>
        <a href="depot.html">Depot</a>
        <a href="ressources.html">Resources</a>
        <a href="#">New Customer</a>
        <a href="managment.html">Management</a>
        <a href="cart.html">Cart</a>
        <a href="#">Logout</a>
    </div>

    <div class="main">
        <h1>Willkommen auf unserer Website</h1>
        <p>Dies ist unsere Startseite. Hier finden Sie Informationen über unser Unternehmen und unsere Dienstleistungen.</p>
    </div>
</body>
</html>