<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link th:href ="@{resources/css/style.css}" rel="stylesheet" />
</head>
<body>

    <div id="banner">
        <h1>Kleinreparatur Service</h1>
    </div>

    <div th:insert="~{navigation :: nav}"></div>

    <div class="main">
        <h1>Willkommen auf unserer Website</h1>
        <p>Dies ist unsere Startseite. Hier finden Sie Informationen über unser Unternehmen und unsere Dienstleistungen.</p>
        <p th:text="${'Ihre Rolle: ' + role}"></p>
    </div>

    <div th:insert="~{footer :: footer}"></div>
</body>
</html>